.borrowedText{
    text-align: center;
    margin-bottom: 20px;
    


}


.logoDisplay {
    margin-left:100%; 
}


.navbarposition{
    position: sticky;
}



.colorWhite {
    color:white;
}
p {
  font-size: 20px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
.margin-logo-text{

  margin-top: 0px;
}
.margin-logo-img{
 margin-left: 100px;
}
.slide-text-color{
  color:#0000ff, !important; 
}
.mainpadding{
  padding: 10px, !important; 
}
.boxtext{
  padding:0%,!important;

}
.psize{
  font-size:13px;

}

a:link { text-decoration: none; 
 }

 .sizearl{
  font-size:48px;
  margin-left: 40%;

 }
 .sizearr{
  font-size:48px;
  margin-right:40%;
  

 }
 